<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마음을 드려요😊</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header class="header">
    <div class="global-width">
        백그라운드 배너
        <h1>마음을 드려요😊</h1>
        <p>
            우리의 늦은 봄과 여름과 가을과 이른 겨울
        </p>
    </div>
</header>
<section class="first-scroll-content">
    <div class="scroll-graphic">
        <div class="graphic-item">
            <img class="scene-img" src="/images/no_look.jpg" alt=""/>
        </div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/look_here.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/ddp_one.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/ddp_two.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/ddp_three.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/birthday_one.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/birthday_two.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_1.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_2.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_3.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_4.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_5.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/light_gj_6.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/gangwondo.jpg" alt=""/></div>
    </div>
    <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img"
                                       src="/images/night_gj.jpg" alt=""/></div>
    </div>
    <div class="scroll-text global-width">
        <div class="step">
            <p>
                안녕하세요😊
            </p>
        </div>
        <div class="step">
            <p>
                너무 이쁘당❤️❤️
            </p>
        </div>
        <div class="step">
            <p>
                ddp one
            </p>
        </div>
        <div class="step">
            <p>
                ddp two
            </p>
        </div>
        <div class="step">
            <p>
                ddp three
            </p>
        </div>
        <div class="step">
            <p>
                고마워
            </p>
        </div>
        <div class="step">
            <p>
                고마워
            </p>
        </div>
        <div class="step">
            <p>
                경주1
            </p>
        </div>
        <div class="step">
            <p>
                경주2
            </p>
        </div>
        <div class="step">
            <p>
                경주3
            </p>
        </div>
        <div class="step">
            <p>
                경주4
            </p>
        </div>
        <div class="step">
            <p>
                경주5
            </p>
        </div>
        <div class="step">
            <p>
                경주6
            </p>
        </div>
        <div class="step">
            <p>
                이쁨
            </p>
        </div>
        <div class="step">
            <p>
                마지막
            </p>
        </div>
    </div>
</section>
<section class="normal-content global-width">
    <h2>우리의 내일</h2>
    <p>
        다가올 미래가 어둡고 캄캄할 지라도 함께 걸어가줄게
    </p>
</section>
<section class="second-scroll-content">
    <div class="scroll-graphic">
        <div class="graphic-item">
            <img class="scene-img" src="/images/last_img.jpg" alt="">
        </div>
    </div>
    <div class="scroll-text global-width">
        <div class="step">
            <p>
                고마워❤️
            </p>
        </div>
    </div>
</section>
<section class="normal-content global-width">
    <h1>Thank You</h1>
    <h2>출연진</h2>
    <p>

    </p>
    <h2>만든이</h2>
    <p>
        Im a spear
    </p>

</section>
<footer class="global-footer">
    <a href="">HOME</a>
</footer>
<script src="/main.js"></script>
</body>

</html>